.admin-dashboard {
  display: flex;
  margin-top: 60px; 
  background-color: #f4f7fa;
  font-family: 'Segoe UI', sans-serif;
  min-height: calc(100vh - 60px);
}

.dashboard-content {
  flex-grow: 1;
  padding: 40px;
  margin-left: 200px; 
  background-color: #f4f7fa;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto; 
  justify-content: center; 
}

