.user-dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* Fixed Sidebar */
.user-dashboard-container > :first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; 
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Main Content Area */
.user-dashboard-main {
  margin-left: 200px; 
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
}


.dashboard-heading {
  color: #091b2f;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 5px 0;
  background-color: #c5d5ed;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}



.user-dashboard-content {
  flex-grow: 1;
  padding: 10px;
  background-color: #fff;
  min-height: calc(100vh - 80px);
  overflow-y: auto;
}

profile-icon {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  cursor: pointer;
}

.user-icon {
  font-size: 1.8rem;
  color: #004aad;
  transition: color 0.3s ease;
}

.user-icon:hover {
  color: #94bae3;
}

.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 310px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  padding: 12px;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.profile-dropdown p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.user-name {
  font-weight: 600;
}

.user-email {
  font-size: 13px;
  color: #666;
  margin-bottom: 6px;
}

.profile-dropdown hr {
  margin: 8px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.dropdown-dashboard,
.dropdown-logout {
  display: block;
  padding: 6px 0;
  text-align: left;
  font-size: 14px;
  color: #0e1b2d;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-dashboard:hover,
.dropdown-logout:hover {
  color: #007bff;
}


